.boardContainer {
  height: auto;
  padding: 10px;
}

.playersContainer {
  height: 20%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.infoPlayers {
  margin-right: 20px;
  padding: 10px;
  height: 9em;
}

.cards {
  margin-right: 10px;
  img {
    width: 7em;
    height: 9em;
    border-radius: 10px;
  }
}
